.table {
  width: 800px;
}

.row {
  height: auto;
}

.row-div {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  width: 488px;
  height: 1.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.row-div > span {
  text-align: center;
  font-size: 1rem;
}

.row-div > input {
  padding: 0 0.25rem;
  min-height: 1.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.row-input {
  width: 60%;
}

.table-div {
  width: 1400px;
}

.code-help {
  display: flex;
  width: 60%;
  padding: 3px;
  height: auto;
}

.code-help-img {
  width: 24.2px;
  height: 24.2px;
  background-color: rgb(201, 234, 255);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 5px;
}

.code-help-img:hover {
  background-color: rgb(154, 216, 255);
}

.code-help-div {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.code-help-div > span {
  background-color: rgb(197, 233, 255);
  border-radius: 3px;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
  color: rgb(29, 101, 255);
  min-height: 21px;
  display: flex;
  align-items: center;
}

.out-btn {
  margin: 0 2px 0 8px;
  font-size: 0.75rem;
  cursor: pointer;
}

.out-btn:hover {
  transform: scale(1.1);
}

.table2 th:nth-child(1),
.table2 td:nth-child(1) {
  width: 2%;
}

.table2 th:nth-child(2),
.table2 td:nth-child(2) {
  width: 9%;
}

.table2 th:nth-child(3),
.table2 td:nth-child(3) {
  width: 10%;
}

.table2 th:nth-child(4),
.table2 td:nth-child(4) {
  width: 15%;
}

.table2 th:nth-child(5),
.table2 td:nth-child(5) {
  width: 10%;
}

.table2 th:nth-child(6),
.table2 td:nth-child(6) {
  width: 15%;
}

.table2 th:nth-child(7),
.table2 td:nth-child(7) {
  width: 6%;
}

.table2 th:nth-child(8),
.table2 td:nth-child(8) {
  width: 8%;
}

.table2 th:nth-child(9),
.table2 td:nth-child(9) {
  width: 13%;
}

.table2 th:nth-child(10),
.table2 td:nth-child(10) {
  width: 20%;
}

.table2 th:nth-child(11),
.table2 td:nth-child(11) {
  width: 4%;
}

.print {
  border: none;
  background-color: inherit;
  color: rgb(83, 120, 255);
  cursor: pointer;
}

.print:hover {
  color: rgb(0, 51, 238);
}
