body {
  color: rgb(30, 30, 30);
}

.container {
  width: 100%;
}

.title {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding: 0.25rem;
  border: 1px solid rgb(10, 6, 84);
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  background: rgb(10, 6, 84);
  background: linear-gradient(
    342deg,
    rgba(10, 6, 84, 1) 0%,
    rgba(49, 83, 168, 1) 35%,
    rgba(0, 172, 255, 1) 100%
  );
  font-size: 1rem;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0 0.25rem;
  margin: 0 0 1px 0;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(245, 245, 245);
}

.row-title {
  padding: 0 0.25rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
}

.row-input {
  padding: 0 0.25rem;
  height: 1.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.table-div {
  margin-top: 2rem;
}

.btn-div {
  margin-top: 0.5rem;
}

.table2 {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(150, 150, 150);
  font-size: 0.75rem;
  table-layout: fixed;
}

thead {
  background-color: rgb(245, 245, 245);
}

th,
td {
  border: 1px solid rgb(150, 150, 150);
  padding: 4px;
  text-align: left;
}

th {
  background-color: rgb(245, 245, 245);
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: rgb(247, 253, 255);
}

a {
  color: #0067d5;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #0054ad;
}

.center {
  text-align: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code-help {
  border: 1px solid skyblue !important;
  background-color: rgb(239, 250, 255);
}
