body {
  color: rgb(30, 30, 30);
}

.container {
  width: 100%;
}

.title {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding: 0.25rem;
  border: 1px solid rgb(10, 6, 84);
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  background: rgb(10, 6, 84);
  background: linear-gradient(
    342deg,
    rgba(10, 6, 84, 1) 0%,
    rgba(49, 83, 168, 1) 35%,
    rgba(0, 172, 255, 1) 100%
  );
  font-size: 1rem;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1.5rem;
  padding: 3px;
  margin: 0 0 1px 0;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(245, 245, 245);
}

.row-title {
  padding: 0 0.25rem;
  font-size: 0.8rem;
}

.row-input {
  width: 60%;
  padding: 0 0.25rem;
  min-height: 1.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.table-div {
  margin-top: 2rem;
}

.btn-div {
  margin-top: 0.5rem;
}

.table2 {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(150, 150, 150);
  font-size: 0.75rem;
  table-layout: fixed;
}

thead {
  background-color: rgb(245, 245, 245);
}

th,
td {
  border: 1px solid rgb(150, 150, 150);
  padding: 4px;
  text-align: left;
}

th {
  background-color: rgb(245, 245, 245);
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: rgb(247, 253, 255);
}

a {
  color: #0067d5;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #0054ad;
}

.center {
  text-align: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  padding: 0.25rem 1rem;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(240, 240, 240);
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: background-color 0.3s;
}

.blue-btn {
  border: 1px solid rgb(0, 58, 125);
  background-color: rgb(0, 79, 168);
  color: white;
}

.blue-btn:hover {
  background-color: rgb(0, 70, 150);
}

.page-btn {
  border: none;
  border-radius: 100%;
  padding: 0.1rem;
  width: 25px;
  height: 25px;
  font-size: 0.6rem;
  font-weight: bold;
}

.home-btn {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(221, 241, 250);
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  line-height: 50px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
}

.home-btn:hover {
  transform: scale(1.05);
}

.code-help {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid skyblue !important;
  background-color: rgb(239, 250, 255);
  width: calc(60% - 27px);
  height: unset;
  min-height: 1.2rem;
  padding: 3px 3px 3px 30px;
  background-image: url(../../public/search.png);
  background-position: 2px center;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  gap: 3px;
}

.code-help input {
  background-color: inherit;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 1.2rem;
  margin-right: 3px;
  padding: 0.1rem 0.25rem 0.1rem 0.5rem;
}

.code-help > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.25rem 0.1rem 0.5rem;
  border: none;
  border-radius: 5px;
  min-height: 1.2rem;
  margin-right: 3px;
  background-color: rgb(196, 236, 255);
  color: rgb(0, 76, 255);
}

.code-help input:focus {
  outline: none;
  box-shadow: 0px 0px 5px inset rgb(143, 190, 255);
}

.out-btn {
  margin: 0 2px 0 8px;
  font-size: 0.6rem;
  cursor: pointer;
}

.out-btn:hover {
  transform: scale(1.1);
}

.checked-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.checked-div div {
  margin: 5px 5px 0 0;
  padding: 5px;
  background-color: rgb(221, 241, 250);
  border-radius: 5px;
  font-size: 0.75rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.025);
  cursor: pointer;
}

.checked-div div:hover {
  background-color: rgb(205, 239, 255);
}
